@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Staatliches&display=swap");

/* Universal styling */

* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Staatliches", cursive;
}

/* Hero image and landing page */

#hero-div {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

#hero-gif {
  background: url(/assets/images/Hero\ Gif.gif) center center / cover no-repeat;
  height: 100%;
  width: 100%;
  position: fixed;
}

#logo-text-container {
  width: 500px;
  height: 500px;
  position: relative;
  margin: 30vh auto;
}

#logo-text-container h1 {
  text-align: center;
  font-family: "Staatliches", cursive;
  font-size: 60px;
}

#company-logo {
  background: url(/assets/images/Company\ Logo.png) no-repeat center center;
  background-size: 256px 256px;
  width: 256px;
  height: 256px;
  margin: 0 auto;
}

#hero-text {
  color: white;
  top: 50%;
}

#play-button {
  padding: 20px 30px;
  background-color: orange;
  margin-left: 200px;
}

#play-button a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

/* Main Game CSS */

.main-game-container {
  height: 2000px;
  width: 100vw;
  background-color: #20124d;
  position: absolute;
}

#game-name-logo {
  height: 250px;
  width: 100vw;
  position: relative;
  display: flex;
}

#game-name {
  position: relative;
  text-align: center;
  margin-top: 75px;
  color: white;
  font-size: 80px;
}

#game-logo {
  width: 200px;
  height: 200px;
  margin: 25px;
  position: relative;
}

#rules-button {
  color: white;
  background-color: #ff9900;
  float: right;
  padding: 20px 30px;
  margin-right: 50px;
  margin-top: 70px;
  position: relative;
}

/* Game layout, some of these lines will be called by JS which I will label */

#question-box {
  height: 250px;
  border: 2px solid black;
  background-color: rgba(8,83,148, 0.5);
  margin: 20px 400px;
}

#answer-box-left {
  height: 100px;
  border: 2px solid black;
  background-color: rgba(8,83,148, 0.5);
  margin: 10px 10px 0 410px;
  padding: 0;
}

#answer-box-right {
  height: 100px;
  border: 2px solid black;
  background-color: rgba(8,83,148, 0.5);
  margin: 10px 410px 0 10px;
  padding: 0;
}

#hint-button {
  color: white;
  height: 50px;
  width: 100px;
  background-color: #ff9900;
  margin: 20px 0 0 650px;
}

#start-button {
  color: white;
  height: 50px;
  width: 100px;
  background-color: #ff9900;
  margin: 20px 0 0 200px;
}

/* This set of CSS is called on by Javascript */

#game-rules {
  margin: 0 400px;
  height: 750px;
  text-align: center;
  color: white;
  font-size: x-large;
  background-color: rgba(0,0,0,0.2);
  display: none;
}

#game-rules h1 {
  padding: 20px;
  font-size: 60px;
}

#game-rules li {
  list-style-type: none;
  padding: 10px;
}


