@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Staatliches&display=swap");

/* Universal styling */

* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Staatliches", cursive;
}

/* Hero image and landing page */

#hero-div {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

#hero-img {
  background: url(/assets/images/Hero-image.jpg) center center / cover no-repeat;
  height: 100%;
  width: 100%;
  position: fixed;
}

#logo-text-container {
  width: 500px;
  height: 500px;
  position: relative;
  margin: 30vh auto;
}

#logo-text-container h1 {
  text-align: center;
  font-family: "Staatliches", cursive;
  font-size: 60px;
}

#company-logo {
  background: url(/assets/images/Company\ Logo.png) no-repeat center center;
  background-size: 256px 256px;
  width: 256px;
  height: 256px;
  margin: 0 auto;
}

#hero-text {
  color: white;
  top: 50%;
}

#play-button {
  padding: 20px 30px;
  background-color: orange;
  margin-left: 200px;
}

#play-button a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

/* Main Game CSS */

.main-game-container {
  height: 100vh;
  width: 100%;
  background-color: #20124d;
  position: absolute;
}

#game-name-logo {
  height: 250px;
  width: 100%;
  position: relative;
  display: flex;
}

#game-name {
  position: relative;
  text-align: center;
  margin-top: 75px;
  color: white;
  font-size: 80px;
}

#game-logo {
  width: 200px;
  height: 200px;
  margin: 25px;
  position: relative;
}

#rules-button {
  color: white;
  background-color: #ff9900;
  float: right;
  padding: 20px 30px;
  margin-right: 50px;
  margin-top: 70px;
  position: relative;
}

#start-button {
  color: white;
  float: right;
  padding: 20px 30px;
  margin-top: 70px;
  margin-right: 10px;
  background-color: green;
}


/* Game layout, some of these lines will be called by JS which I will label */



#question-box {
  width: 75%;
  height: 250px;
  border: 2px solid black;
  background-color: rgb(8, 83, 148);
  margin: 20px auto;
}
#question-text {
  text-align: center;
  color: white;
  margin: auto
}

.answer-box {
  background-color: rgb(8, 83, 148);
  width: 40%;
  height: 100px;
  display: grid;
  margin: 10px auto;
  border: 2px solid black;
}


.answer-text {
  color: white;
  text-align: center;
  margin: auto;
  text-transform: uppercase;
}

.correct-answer {
  background-color: green;
}

.incorrect-answer {
  background-color: red;
}
.row {
  width: 100%
}

/* This set of CSS is called on by Javascript */

#game-rules {
  width: 66%;
  margin: 10px auto;
  height: 750px;
  text-align: center;
  color: white;
  font-size: x-large;
  background-color: rgba(0, 0, 0, 0.2);
  display: none;
}

#game-rules h1 {
  padding: 20px;
  font-size: 60px;
}

#game-rules li {
  list-style-type: none;
  padding: 10px;
}


@media screen and (max-width: 991px) {
 #question-box {
   width: 90%;
 }

 #game-name-logo {
   height: 600px;
 }

 .answer-box {
   width: 90%;
 }

 #game-name { 
   margin: auto;
 }

 #game-logo {
   margin:auto;
 }

 #rules-button {
   margin-right: 5%;
 }

#start-button {
  margin-left: 5%;
}
.main-game-container {
  height: 1500px;
}

#game-rules {
  width: 90%;
}
}